/* Menu */
.menu-logo {
  text-align: center;
}

/* Form */
.form-post {
  padding-top: 40px;
}

.form-post h1 {
  text-align: center;
  margin-bottom: 60px;
}

.form {
  padding: 0;
}

.general-form textarea {
  margin-bottom: 15px;
}

.general-form input#imagem {
  border: none;
}

/* Fim do form */