body {
  background: #fff;
}

/* Estilos Gerais */

.title {
  text-align: center;
  color: #fff;
}

/* Menu */

.menu-logo {
  text-align: center;
}

.nav-bar ul li:nth-child(1) {
  border: none;
}

/* Menu Responsivo */
@media only screen and (max-width: 767px) {
  .nav-bar ul {
    text-align: center;
  }
}

/* Form de login */

.form {
  background: #0F152C;
  color: #fff;
  width: 350px;
  padding: 30px;
  margin: 40px auto 40px auto;
  border-radius: 6px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, .8);
}

.submit-button {
  background: #FF6868;
  border-color: #FF6868;
  margin: 10px auto;
  box-shadow: none;
}

.submit-button:hover {
  box-shadow: none;
  background: #8892bf;
  border-color: #8892bf;
}

/* Form responsivo */

@media only screen and (max-width: 767px) {
  .form {
    width: 80%;
  }
}